body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player-container {
    width: 90%;
    max-width: 1000px;
    position: relative;
}

video {
    width: 100%;
    border-radius: 10px;
}

.volver {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 15px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border: none;
    cursor: pointer;
}
